@page
@{
    Layout =  "~/Views/Shared/_CatalogLayout.cshtml";
}

<div class="row contact_success">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <img src="/img/success.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Mesajınız başarıyla gönderildi.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/">Ana sayfaya dön</a>
            </div>
        </div>
    </div>
</div>
