<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content=@ViewData["Description"] />
    <meta name="keywords" content=@ViewData["Keywords"]/>
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title translate="no">@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/mobile_menu.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/8b2df3cdd4.js" crossorigin="anonymous"></script>
</head>
<body >
    <div class="content-block d-none d-sm-none d-md-block">
        <header>
            <div class="row">
                <div class="col-md-3 navbar-logo">
                    <a href="/"><img src="img/logo.png" /></a>
                </div>
                <div class="col-md-5  navbar" >
                    <ul class="navbar-nav">
                          <li><a href="/">ANASAYFA</a></li>
                          <li><a href="/aboutUs">HAKKIMIZDA</a></li>
                          <li><a href="/catalog">ÜRÜNLERİMİZ</a>
                            <ul class="dropdown">
                                @{
                                    foreach(var item in Model.Categories)
                                    {
                                        <li><a href="/catalog?CategoryId=@item.Id">@item.Name</a></li>
                                    }
                                }
                                <li><a href="/catalog">TÜMÜNÜ GÖRÜNTÜLE</a></li>
                            </ul>
                          </li>
                          <li><a href="/qualitycertificates">KALİTE BELGELERİMİZ</a></li>
                          <li><a href="/contact">İLETİŞİM</a></li>
                        </ul>   
                </div>
                <div class="col-md-2 desktop_language-select">
                    <div id="google_translate_element"></div>
                </div>
                <div class="col-md-2 navbar-media_icons">
                    <a href="https://www.instagram.com/isimax.aydinlatmaa/"><i class="fa-brands fa-instagram fa-2x"></i></a> 
                    <i class="fa-brands fa-facebook fa-2x"></i>
                    <i class="fa-brands fa-linkedin-in fa-2x"></i>
                    <i class="fa-brands fa-youtube fa-2x"></i>                    
                </div>
            </div>
        </header>


        <div class="row slide-desc">
            <div class="col-md-12">
                Tüm aydınlatma ürünleri <br /> imalat, ihracat, toptan <br /> ve perakende
            </div>
        </div>
        <div class="row slide-btn">
            <div class="col-md-12">
                <form action="/catalog" method="get">
                    <button>Şimdi Keşfet</button>
                </form>
            </div>
        </div>
    </div>

    <header class="d-block d-sm-block d-md-none">
        <div class="hamburger-menu">            
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
            <div class="mobile_language-select">
                <div id="google_translate_element"></div>
            </div>

            <ul class="menu__box">
              <li><a class="menu__item" href="/">ANASAYFA</a></li>
              <li><a class="menu__item" href="/aboutus">HAKKIMIZDA</a></li>
              <li><a class="menu__item" href="/catalog">ÜRÜNLERİMİZ</a></li>
              <li><a class="menu__item" href="/qualitycertificates">KALİTE BELGELERİMİZ</a></li>
              <li><a class="menu__item" href="/contact">İLETİŞİM</a></li>
              <li>
                <div class="row menu__footer">
                    <div class="col-3">
                        <a href="https://www.instagram.com/isimax.aydinlatmaa/"><i class="fa-brands fa-instagram fa-xl"></i></a>
                    </div>
                    <div class="col-3">
                        <i class="fa-brands fa-facebook fa-xl"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa-brands fa-linkedin-in fa-xl"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa-brands fa-youtube fa-xl"></i>
                    </div>
                </div>
              </li>
            </ul>

            <div class="mobile_logo">
                <img src="/img/logo_mobile.png" />
            </div>
          </div>

    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           <div class="row">
               <div class="col-md-3">
                  <ul>
                    <li><strong>MERKEZ</strong></li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                         +90 212 485 60 54
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                         +90 212 485 37 13
                    </li>
                    <li>
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                         +90 539 460 57 33
                    </li>
                    <li>
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                         +90 531 937 33 16
                    </li>
                    <li translate="no">
                        <i class="fa-solid fa-envelope"></i> 
                        info@isimaxayadinlatma.com
                    </li>
                    <li translate="no">
                        <i class="fa-solid fa-location-dot"></i>
                        İkıtelli Organize Sanayi Böl. <br />
                        isteks Sanayi Sitesi E2 Blok<br />
                        No:3 - 7 Başakşehir - İSTANBUL
                    </li>
                  </ul>
               </div> 

               <div class="col-md-3 footer-right-info">
                  <ul>
                    <li><strong>SHOWROOM</strong></li>
                    <li translate="no">
                        <i class="fa-solid fa-phone"></i>
                         +90 212 243 48 08
                    </li>
                    <li translate="no">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                         +90 531 937 33 15
                    </li>
                    <li translate="no">
                        <i class="fa-solid fa-envelope"></i> magaza@isimaxaydinlatma.com
                    </li>
                    <li translate="no">
                        <i class="fa-solid fa-location-dot"></i>
                        Bereketzade Mh. Okçu Musa Cd. <br />
                        No:11/A Bank Çarşı B-6<br />
                        Şişhane / İSTANBUL
                    </li>
                  </ul>
               </div>
              
               <div class="col-md-2">
                   <ul>
                       <li><strong>MENU</strong></li>
                       <li><a href="/">ANASAYFA</a></li>
                       <li><a href="/aboutus">HAKKIMIZDA</a></li>
                       <li><a href="/catalog">ÜRÜNLERİMİZ</a></li>
                       <li><a href="/qualitycertificates">KALİTE BELGELERİMİZ</a></li>
                       <li><a href="/contact">İLETİŞİM</a></li>
                   </ul>
               </div>
               <div class="col-md-2 offset-md-2 social_medya">
                    <div class="row">
                        <div class="col-md-12 d-none d-md-block">
                            <img src="/img/logo.png" />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-3 col-3">
                            <a href="https://www.instagram.com/isimax.aydinlatmaa/"><i class="fa-brands fa-instagram fa-2x"></i></a>
                        </div>
                        <div class="col-md-3 col-3">
                            <i class="fa-brands fa-facebook fa-2x"></i> 
                        </div>
                        <div class="col-md-3 col-3">
                            <i class="fa-brands fa-linkedin-in fa-2x"></i>
                        </div>
                        <div class="col-md-3 col-3">
                            <i class="fa-brands fa-youtube fa-2x"></i> 
                        </div>
                    </div>

               </div>
           </div>
           <div class="row mt-5">
               <div class="col-md-12 copyright">
                   <i class="fa-solid fa-copyright"></i> 2022 Işımaxaydınlatma Tüm Hakları Saklıdır
               </div>
           </div>
        </div>
    </footer>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'tr' }, 'google_translate_element');
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
