.quality_certificates-header-banner {
    height: 200px;
    text-align: center;
    background-color: #F7F8F3;
}

    .quality_certificates-header-banner .title {
        color: #012C3D;
        font-family: sans-serif;
        font-size: 50px;
        font-weight: 600;
        width: 100%;
        height: 27px;
        margin: 0 auto;
        margin-top: 60px;
        letter-spacing: 1px;
        align-self: flex-end;
    }


.quality_certificates {
    background-color: #FFFFFF;
    padding-top: 50px;
}

@media (max-width: 767px) {
    .quality_certificates-header-banner .title {
        margin-top: 30px;
    }
}
